.forget-container{
	margin-top: 30px;
}

.forget-container h1{
	font-size: 20px;
	margin-bottom: 20px;
}

.forget-container p{
	font-size: 16px;
}

#btn-reset-pass-valide{
	outline: navy;
	background-color: #5C291D;
	color:white;
	font-size:15px;
	padding: 10px 15px;
	border-radius:6px;
}

#btn-reset-pass-valide:hover{
	box-shadow: 2px 5px 20px -6px rgba(0,0,0,0.75);
	-webkit-box-shadow: 2px 5px 20px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 5px 20px -6px rgba(0,0,0,0.75);
}

.img-forget-password-container{
	text-align: center;
}

.img-forget-password-container i{
	font-size: 300px;
	color: #541f13;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.container{
		max-width: 100%;
		padding: 0 30px;
	}
	
	.img-forget-password-container i{
		font-size: 200px;
	}
	
	.forget-container h1{
		font-size: 18px;
	}
	
	.forget-container p{
		font-size: 15px;
	}
}

@media only screen and (max-width: 767px){
	
	.container{
		max-width: 100%;
		padding: 0 30px;
	}
	
	.forget-container input,.label{
		font-size: 13px;
	}
	
	.img-forget-password-container i{
		display: none;
	}
	
	.forget-container h1{
		font-size: 17px;
		margin-bottom: 20px;
	}
	
	.forget-container p{
		font-size: 12px;
	}
}